/*-- scss:defaults --*/

// use zephyr as the base
$theme: "cosmos" !default;

// import google fonts

@import 'https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://pvinis.github.io/iosevka-webfont/7.0.2/iosevka.css';

$font-family-sans-serif: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

/*-- scss:rules --*/

// body, p, h1, h2, h3, h4, h5, h6, a, span, div, li, blockquote, pre, table, th, td, form, input, textarea, button, label, select, optgroup {
body, p, h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

.navbar-brand-container {
  .navbar-title, img.navbar-logo {
    font-weight: 750;
    color: black;

    &:hover {
      color: #6953ff;
      filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(220deg);
      text-decoration: underline;
    }
  }

  // &:hover {
  //   .navbar-title, img.navbar-logo {
  //     color: #6953ff;
  //     filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(220deg);
  //     text-decoration: underline;
  //   }
  // }
}

.navbar-nav .dropdown-menu {
  min-width: 100%;
}

// .title.listing-title {
//   width: 400px;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

.subtitle > a {
  color: #666;
  font-weight: bold
}

code, [class*="sourceCode"] {
  font-family: 'Iosevka Web', monospace;
  font-weight: 500;
}